{% if loadAsset %}
    {% do view.registerAssetBundle('craftyfm\\formbuilder\\web\\assets\\tailwind\\TailwindAsset') -%}
{% endif %}
{% set orientation = form.settings.orientation %}
{% set framework = form.settings.framework %}
{% set iconSet = form.settings.icons %}

{% set hasErrors = submission.hasErrors() %}
{% if craft.app.session.hasFlash('success') %}
    <div class="cfb:bg-green-100 cfb:border cfb:border-green-400 cfb:text-green-700 cfb:cfb:px-4 cfb:cfb:py-3 cfb:cfb:rounded cfb:mb-5" role="alert">
        <span class="cfb:block cfb:sm:inline">{{  craft.app.session.getFlash('success') }}</span>
    </div>
{% endif %}
{% if craft.app.session.hasFlash('error') %}
<div class="cfb:bg-red-100 cfb:border cfb:border-red-400 cfb:text-red-700 cfb:cfb:px-4 cfb:cfb:py-3 cfb:cfb:rounded cfb:mb-5" role="alert">
    <strong class="cfb:font-bold">Error!</strong>
    <   <span class="cfb:block sm:inline">{{  craft.app.session.getFlash('error') }}</span>
</div>
{% endif %}

<form id="{{ form.uid }}" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"
      class="{{ form.settings.class }} form-builder">
    <input type="hidden" name="action" value="form-builder/submissions/submit">
    <input type="hidden" name="formId" value="{{ form.id }}">
    {{ csrfInput() }}
    <div class="cfb:flex cfb:flex-col cfb:gap-5">
        {% for field in form.fields %}
            {% include "form-builder/_render/tailwind/" ~ 'components' ~ "/" ~ field.type %}
        {% endfor %}
    </div>
</form>





