{% set id = field.id|default(field.handle) %}
{% set errors = submission.getErrors(field.handle) %}
{% set value = attribute(submission, field.handle).value ?? field.defaultValue ?? null %}

<div class="cfb:flex {{ orientation == 'horizontal' ? 'cfb:flex-row' : 'cfb:flex-col'}}">
    <div class="cfb:mb-2 cfb:font-light cfb:flex-1">
        <div class="">
            <label class="block cfb:text-sm cfb:font-medium cfb:text-gray-700">
                {{ field.label }}
                {{ field.required ? '<span class="cfb:text-red-500 cfb:ml-1">*</span>' : ''}}
            </label>
        </div>
    </div>
    <div class="cfb:space-y-2 cfb:flex-3">
        {% for option in field.options %}
            <div class="cfb:flex cfb:items-center cfb:gap-2 ">
                <input type="checkbox" id="{{ id }}" name="{{ field.handle }}[]"
                       value="{{ option.value }}" class="cfb:border-gray-300 cfb:rounded"
                       {% if loop.index == 0 and required %}required{% endif %}
                        {% if option.value in value %} checked {% endif %}
                >
                <label for="{{ id }}" class="cfb:text-sm cfb:text-gray-700">{{ option.name }}</label>
            </div>
        {% endfor %}
        {% if field.desc %}
            <p class="cfb:text-sm cfb:font-light">{{ field.desc }}</p>
        {% endif %}
        {% if errors %}
            <p class="cfb:text-sm cfb:text-red-600 dark:cfb:text-red-500">
                {{ errors[0] }}
            </p>
        {% endif %}

    </div>
</div>