{% set id = field.id|default(field.handle) %}
{% set label = field.label %}
{% set required = field.required|default(false) %}
{% set description = field.desc %}
{% set errors = submission.getErrors(field.handle) %}
{% set value = attribute(submission, field.handle) ?? field.defaultValue ?? null %}


<div class="cfb:flex {{ orientation == 'horizontal' ? 'cfb:flex-row' : 'cfb:flex-col'}} ">
    <div class="cfb:mb-2 cfb:font-light cfb:flex-1">
        <div class="">
            <label class="block cfb:text-sm cfb:font-medium cfb:text-gray-700" for="{{ field.id }}">
                {{ field.label }}
                {{ field.required ? '<span class="cfb:text-red-500 cfb:ml-1">*</span>' : ''}}
            </label>
        </div>
    </div>
    <div class="cfb:space-y-2 cfb:flex-3">
        <select name="{{ field.handle }}" id="{{ field.id }}" class="cfb:flex-3 cfb:w-full cfb:px-3 cfb:py-2 cfb:border cfb:border-gray-300 cfb:rounded-md cfb:bg-gray-50" {{ field.required ? 'required' }} >
            {% if field.placeholder %}
                <option value="">{{ field.placeholder }}</option>
            {% endif %}
            {% for option in field.options %}
                <option value="{{ option.value }}" {{ value == option.value ? 'selected' }} >{{ option.name }}</option>
            {% endfor %}
        </select>
        {% if field.desc %}
            <p class="cfb:text-sm cfb:font-light">{{ field.desc }}</p>
        {% endif %}
        {% if errors %}
            <p class="cfb:text-sm cfb:text-red-600 dark:cfb:text-red-500">
                {{ errors[0] }}
            </p>
        {% endif %}
    </div>
</div>