{% set id = field.id|default(field.handle) %}
{% set label = field.label %}
{% set required = field.required|default(false) %}
{% set description = field.desc %}
{% set errors = submission.getErrors(field.handle) %}
{% set value = attribute(submission, field.handle) ?? field.defaultValue ?? null %}


<div class="flex {{ orientation == 'horizontal' ? 'flex-row' : 'flex-col'}} ">
    <div class="mb-2 font-light flex-1">
        <div class="flex justify-between items-center">
            <label class="block text-sm font-medium text-gray-700" for="{{ field.id }}">
                {{ field.label }}
                {{ field.required ? '<span class="text-red-500 ml-1">*</span>' : ''}}
            </label>
        </div>
    </div>
    <div class="space-y-2 flex-3">
        <select name="{{ field.handle }}" id="{{ field.id }}" class="flex-3 w-full px-3 py-2 border border-gray-300 rounded-md bg-gray-50" {{ field.required ? 'required' }} >
            {% if field.placeholder %}
                <option value="">{{ field.placeholder }}</option>
            {% endif %}
            {% for option in field.options %}
                <option value="{{ option.value }}" {{ value == option.value ? 'selected' }} >{{ option.name }}</option>
            {% endfor %}
        </select>
        {% if field.desc %}
            <p class="text-sm font-light">{{ field.desc }}</p>
        {% endif %}
        {% if errors %}
            <p class="text-sm text-red-600 dark:text-red-500">
                {{ errors[0] }}
            </p>
        {% endif %}
    </div>
</div>