{% set spacing = field.spacing %}
{% set resetStyle = field.resetStyle %}
{% set resetText = field.resetText %}
{% set submitStyle = field.submitStyle %}
{% set submitText = field.submitText %}

{% set resetClass = field.resetStyle == 'primary'
    ? 'cfb:bg-blue-600 cfb:text-white'
    : field.resetStyle == 'secondary'
    ? 'cfb:bg-gray-500 cfb:text-white'
    : 'cfb:bg-red-500 cfb:text-white' %}
{% set submitClass = 'primary'
    ? 'cfb:bg-blue-600 cfb:text-white'
    : 'cfb:bg-gray-600 cfb:text-white' %}
{% set spacingClass = field.spacing == 'wide'
    ? 'cfb:justify-between'
    : field.spacing == 'tight'
    ? 'cfb:gap-2'
    : 'cfb:gap-4' %}


<div class="cfb:flex {{ spacingClass }}">
    <button type="reset" class="cfb:px-3 cfb:py-1 cfb:rounded-sm cfb:text-sm cfb:cursor-pointer {{ resetClass }}">
        {{ field.resetText }}
    </button>
    <button type="submit" class="cfb:px-3 cfb:py-1 cfb:rounded-sm cfb:text-sm cfb:cursor-pointer  {{ submitClass }}">
        {{field.submitText}}
    </button>
</div>