{% set id = field.id|default(field.handle) %}
{% set label = field.label %}
{% set name = field.handle %}
{% set required = field.required|default(false) %}
{% set placeholder = field.placeholder|default('') %}
{% set description = field.desc %}
{% set rows = field.rows %}
{% set minlength = field.minlength %}
{% set maxlength = field.maxlength %}
{% set errors = submission.getErrors(field.handle) %}
{% set value = attribute(submission, field.handle) ?? field.defaultValue ?? null %}


<div class="cfb:flex {{ orientation == 'horizontal' ? 'cfb:flex-row' : 'cfb:flex-col'}}">
    <div class="cfb:mb-2 cfb:font-light cfb:flex-1">
        <div class="">
            <label class="block cfb:text-sm cfb:font-medium cfb:text-gray-700" for="{{ id }}">
                {{ field.label }}
                {{ field.required ? '<span class="cfb:text-red-500 cfb:ml-1">*</span>' : ''}}
            </label>
        </div>
    </div>
    <div class="cfb:flex-3">
        <textarea placeholder="{{field.placeholder}}" id="{{ id }}" name="{{ name }}"
                  rows="{{field.rows}}"
                  class="cfb:w-full cfb:px-3 cfb:py-2 cfb:border cfb:border-gray-300 cfb:rounded-md cfb:bg-gray-50 cfb:resize-none"
              {{ field.required ? 'required' }}
              >{{ value }}</textarea>
        {% if field.desc %}
            <p class="cfb:text-sm cfb:font-light">{{ field.desc }}</p>
        {% endif %}
        {% if errors %}
            <p class="mt-2 cfb:text-sm cfb:text-red-600 dark:cfb:text-red-500">
                {{ errors[0] }}
            </p>
        {% endif %}
    </div>
</div>