{% set id = field.id|default(field.handle) %}
{% set iconSvg = field.getIconSvg() %}
{% set value = attribute(submission, field.handle) ?? field.defaultValue ?? null %}
{% set errors = submission.getErrors(field.handle) %}

<div class="cfb:flex {{ orientation == 'horizontal' ? 'cfb:flex-row' : 'cfb:flex-col' }} ">
    <div class="cfb:mb-2 cfb:font-light cfb:flex-1">
        <div class="">
            <label class="block cfb:text-sm cfb:font-medium cfb:text-gray-700" for="{{ id }}">
                {{ field.label }}
                {{ field.required ? '<span class="cfb:text-red-500 cfb:ml-1">*</span>' : '' }}
            </label>
        </div>
    </div>

    <div class="cfb:relative cfb:w-full cfb:flex-3">

        <div class="cfb:absolute cfb:inset-y-0 cfb:left-0 cfb:pl-3 cfb:flex cfb:items-center cfb:pointer-events-none">
            <div class="cfb:w-5 h-5 cfb:text-gray-700 cfb:flex cfb:items-center cfb:justify-center">
                {{ iconSvg|raw }}
            </div>
        </div>


        <input id="{{ id }}"
               type="text"
               name="{{ field.handle }}"
               value="{{ value }}"
               placeholder="{{ field.placeholder }}"
               class="{{ field.icon ? 'cfb:pl-10' : 'cfb:pl-3' }} cfb:pr-3 cfb:py-2 cfb:w-full cfb:border cfb:border-gray-300 cfb:rounded-md cfb:bg-gray-50"
               {{ field.required ? 'required' }}
        >
        {% if field.desc %}
            <p class="cfb:text-sm cfb:font-light">{{ field.desc }}</p>
        {% endif %}
        {% if errors %}
            <p class="cfb:text-sm cfb:text-red-600 dark:cfb:text-red-500">
                {{ errors[0] }}
            </p>
        {% endif %}
    </div>
</div>