<div class="cfb:mb-5 ">
    <label for="listId" class="cfb:block cfb:text-sm cfb:font-medium cfb:text-gray-700">
        List <span class="cfb:text-red-500 cfb:ml-1">*</span>
    </label>
    <p class="cfb:mt-0 cfb:mb-2">Choose your Constant Contact list.</p>
    <div class="cfb:flex cfb:items-center" id="listIdContainer">
        <select id="listId" name="listId" class="cfb:w-64 cfb:px-3 cfb:py-2 cfb:border cfb:border-gray-300 cfb:rounded-lg cfb:focus:ring-inset focus:cfb:outline-none focus:cfb:ring-1 focus:cfb:ring-blue-500 focus:cfb:border-blue-500">
            <option value="">Select an list</option>
        </select>
        <button class="cfb:ml-1 cfb:inline-flex cfb:pt-3 cfb:iconify-[mdi--refresh] cfb:w-6 cfb:h-6">
        </button>
    </div>
</div>

<div class="cfb:max-w-6xl cfb:mx-auto">
    <div class="cfb:mb-4" >
        <p class="cfb:font-medium cfb:mb-0">Field Mapping</p>
        <p class="cfb:m-0">Choose how your form fields should map to your Constant Contact fields.</p>
    </div>

    <!-- Fixed Fields -->
    <div id="mappingFields"
         class="">
    </div>
</div>

<script>
    const mappingFields = document.getElementById('{{ "mappingFields"|namespaceInputId }}');
    const listIdContainer = document.getElementById('{{ "listIdContainer"|namespaceInputId }}');

    document.addEventListener('DOMContentLoaded', () => {
        new Craft.FormBuilder.IntegrationMappingManager({
            listDropdownContainer: listIdContainer,
            fieldMappingContainerEl: mappingFields,
            listEndpoint: '{{ actionUrl('form-builder/integration/get-lists', {
                'integrationId': integration.id
            }) }}',
            integrationHandle: '{{ integration.handle }}',
            selectedListId: '{{ integration.listId }}'
        } );
    })

</script>