{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set selectedSubnavItem = 'form-builder-settings' %}
{% if craft.app.config.general.allowAdminChanges %}
    {% set fullPageForm = true %}
{% else %}
    {% set fullPageForm = false %}
{% endif %}

{% block sidebar %}
    <nav aria-label="Utilities">
        <ul>
            <li>
                <a class="has-badge {{ currentPage == 'general' ? 'sel' }}" href="{{ cpUrl('form-builder/settings/general') }}">
                    <span class="label">General</span>
                </a>
            </li>
            <li>
                <a class="has-badge {{ currentPage == 'submission-status' ? 'sel' }}" href="{{ cpUrl('form-builder/settings/statuses') }}">
                    <span class="label">Statuses </span>
                </a>
            </li>
            <li>
                <a class="has-badge {{ currentPage == 'email-templates' ? 'sel' }}" href="{{ cpUrl('form-builder/settings/email-templates') }}">
                    <span class="label">Email Templates </span>
                </a>
            </li>
            <li class="heading"><span>Captcha</span></li>
            <li>
                <a class="has-badge {{ currentPage == 'hcaptcha' ? 'sel' }}" href="{{ cpUrl('form-builder/settings/captcha/hcaptcha') }}">
                    <span class="label">HCaptcha</span>
                </a>
            </li>
            <li>
                <a class="has-badge {{ currentPage == 'recaptcha' ? 'sel' }}" href="{{ cpUrl('form-builder/settings/captcha/recaptcha') }}">
                    <span class="label">ReCaptcha</span>
                </a>
            </li>
            <li class="heading"><span>Integrations</span></li>
            <li>
                <a class="has-badge {{ currentPage == 'integrations' ? 'sel' }}" href="{{ cpUrl('form-builder/settings/integrations') }}">
                    <span class="label">Integrations</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}